<h1 class ="main-title"> Bear or Bullish</h1>
<button class="button"> subscribe </button>
<main>
  <h2> Analysis: </h2>
  <p class ="main-text">The market is looking 65% Bullish that's a 25% increase over yesterday. The chatter today looks more positive than yesterday </p>
    <p class ="medium-button">Today's Market is: Bullish </p>
</main>
<footer>
  <p>Yesterday</p> <p>Today</p> <p> Tomorrow</p>
</footer>