body,h2,h3, h4{
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-weight: bold;}

h1 {font: 300 32px/36px proxima-nova, "helvetica neue", helvetica, sans-serif;
  font-weight: 600;}

h2 {font-size: 28px;color: #323232;}

h3 {font-size: 20px;}

h4 {font-size: 16px;}