// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
html {
  background: url(bear.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  position: absolute;
  text-align:center;
  top: 30%;
  left: 30%;
  color: white;
  width: 450px;
}

.days {
  border-bottom: 4px solid white;
  color: white;
}

.days:hover {
  opacity: .6;
}

.toggle-button {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-origin: padding-box;
  background-size: auto;
  border-radius: 5px;
  border-bottom-width: 2px;
  border-color: rgb(255, 153, 105);
  border-style: solid;
  border-right-color: rgb(255, 153, 105);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(255, 153, 105);
  border-top-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  color: rgb(255, 153, 105);
  cursor: auto;
  display: inline-block;
  font-family: 'Apercu Regular', Calibri, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  height: 42px;
  outline-width: 0px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  text-align: center;
  text-decoration: none solid rgb(255, 153, 105);
  visibility: visible;
  width: 133px;
}